.if($account.is-domain-admin, equal, true)
<div class="item">
	<div class="title">
		<label class="symbol"><p></p></label>
		<div class="text"><p>Admin</p></div>
	</div>
	<div class="dropdown">
		<div class="subitem-separator"><p></p></div>
		<div class="subitem">
			<div class="title">
				<div class="symbol"></div>
				<div class="text">
					<a href="{%- link pages/comment-review.sf.md -%}"><p>Review Comments Needing Approval</p></a>
				</div>
			</div>
		</div>
	</div>
</div>
.else()
	.if($account.is-moderator, equal, true)
<div class="item">
	<div class="title">
		<label class="symbol"><p></p></label>
		<div class="text"><p>Moderator</p></div>
	</div>
	<div class="dropdown">
		<div class="subitem-separator"><p></p></div>
		<div class="subitem">
			<div class="title">
				<div class="symbol"></div>
				<div class="text">
					<a href="{%- link pages/comment-review.sf.md -%}"><p>Review Comments Needing Approval</p></a>
				</div>
			</div>
		</div>
	</div>
</div>
	.end()
.end()
.if($account, equal, nil)
<div class="item">
	<div class="title">
		<label class="symbol"><p></p></label>
		<div class="text"><a href="{%- link pages/login.sf.md -%}"><p>Login</p></a></div>
	</div>
</div>
<div class="item">
	<div class="title">
		<label class="symbol"><p></p></label>
		<div class="text"><a href="{%- link pages/register.sf.md -%}"><p>Register</p></a></div>
	</div>
</div>
.else()
<div class="item">
	<div class="title">
		<label class="symbol"><p></p></label>
		<div class="text"><a href="/command/logout"><p>Logout - .show($account.name!)</p></a></div>
	</div>
</div>
.end()
