<div class="comment-section">
	<div class="cs-top">
		<p>Comments:</p>
	</div>
	<div class="cs-blocks">
.if($info.nof-comments, equal, 0)
		<p class="csb-none">There are no comments yet</p><br>
.end()
.if($info.nof-comments, not-equal, 0)
	.for(comments)
		.if($info.comment-removed, true)
		.end()
		.if($info.comment-removed, false)
		<div class="csb-block" width="100%">
			<div class="csbb-top" width="100%">
				<div class="csbbt-left">
			.if($account.name, not-nil)
					<p>Name: .show($account.name)</p>
			.end()
			.if($account.name, nil)
					<p>Name: .show($info.name)</p>
			.end()
					<p>Date: .show($info.timp)</p></br>
					<p>Last edit: .show($info.time)</p>
					<p>Edits: .show($info.ned)</p>
				</div>
				<div class="csbbt-right">
					<p>.show($info.comment-html)</p>
				</div>
			</div>
			<div class="csbb-bottom" width="100%">
			.if($info.can-remove)
				<form action="/command/comment-remove" method="post">
					<input type="hidden" name="comment-account" value=".show($account.name)">
					<input type="hidden" name="comment-identifier" value=".show($request.comment-id)">
					<input type="submit" value="Remove">
				</form>

			.end()
			.if($info.can-edit)
				<form action="/command/comment-edit" method="post">
					<input type="hidden" name="comment-account" value=".show($account.name)">
					<input type="hidden" name="comment-identifier" value=".show($request.comment-id)">
					<input type="submit" value="Edit">
				</form>
			.end()
			</div>
		</div>
		.end(if-comment-removed)
	.end(for-comments)
.end()
	</div>
	<div class="cs-input">
		<form action="/command/post-comment" method="post">
			<div class="csi-form">
				<textarea class="csif-input" name="text" placeholder="Your comments"></textarea>
				<div class="csif-howto"><p>Use [i]..[/i] for italic, [b]..[/b] for bold. Links will not be clickable.</p></div>
.if($account.name, nil)
				<div class="csif-anonymous"><p>Anonymous comments need approval by a moderator and cannot be edited or deleted. New users will have their first few posts moderated.</p></div>
				<div class="csif-login"><p><a href="/template/login.sf.html">Login first</a> to enable editing and removal of comments.</p></div>
				<input class="csif-name" type="text" name="display-name" placeholder="Anonymous">
.end()
				<input type="hidden" name="page-url" value=".show($service.relative-resource-path)">
				<input type="hidden" name="comment-id" value=".show($info.comment-id)">
				<input class="csif-submit" type="submit" value="Submit">
		</form>
	</div>
</div>