// =======================================
// Definitions for the demo swiftfire site
// =======================================

// --------------------
// The comments section
// --------------------


// Formatting of the comment-section div itself

.comment-section {
	margin-top: 4 * $vspacing-unit;
	padding-top: $vspacing-unit;
	border-top: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	width: 100%;
}


// Defaults for components within the comment-section

.comment-section {
	p, div, a, form, textarea {
		margin: 0;
		padding: 0;
	}
	input {
		color: black;
	}
}


// Specifics

.comment-section {
	.cs-blocks {
		margin-top: $vspacing-unit;
		margin-bottom: $vspacing-unit;
		.csb-none {
			color: darkgrey;
		}
	}
	.cs-input {
		padding-top: $vspacing-unit;
		border-top: 1px solid lightgrey;
		form {
			.csi-form {
				display: flex;
				flex-direction: column;
				.csif-input {
					width: 100%;
					height: 10 * $vspacing-unit;
					box-sizing: border-box;
					color: black;
				}
				.csif-howto {
					font-size: $small-2-font-size;
					color: darkgrey;
					margin-top: $vspacing-unit / 2;
					margin-bottom: $vspacing-unit / 2;
				}
				.csif-anonymous {
					font-size: $small-2-font-size;
					color: darkgrey;
					margin-top: $vspacing-unit / 2;
					margin-bottom: $vspacing-unit / 2;
				}
				.csif-login {
					font-size: $small-2-font-size;
					color: darkgrey;
					margin-top: $vspacing-unit / 2;
					margin-bottom: $vspacing-unit / 2;
					a {
						color: black;
					}
				}
				.csif-name {
					margin-top: $vspacing-unit;
					margin-bottom: $vspacing-unit;
					display: flex;
					align-items: baseline;
					width: 100%;
					box-sizing: border-box;
				}
				.csif-submit {
					width: 100%;
					box-sizing: border-box;
				}
			}
		}
	}
}
